<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../public/images/apple-icon.png">
  <link rel="icon" type="image/png" href="../public/images/favicon.png">
  <title>
    scholarSPACE
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../public/css/soft-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <style>
    .announcement-navbar {
      overflow-y: scroll;
    }
  </style>
</head>

<body class="g-sidenav-show  bg-gray-100">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-left ms-3"
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute right-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="/teacher_home">
        <img src="../public/images/graduation-cap.png" class="navbar-brand-img h-100 w-15" alt="...">
        <span class="ms-1 font-weight-bold">scholarSPACE</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link  " href="/teacher_home">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/home-black.png">
            </div>
            <span class="nav-link-text ms-1">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/teacher_calendar">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/calendar-black.png">
            </div>
            <span class="nav-link-text ms-1">Event Calendar</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/teacher_announcement">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/announcement-black.png">
            </div>
            <span class="nav-link-text ms-1">Announcement</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/teacher_events">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/events-black.png">
            </div>
            <span class="nav-link-text ms-1">Events</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="/teacher_groups">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/groups-white.png">
            </div>
            <span class="nav-link-text ms-1">Groups</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/teacher_student">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/student-black.png">
            </div>
            <span class="nav-link-text ms-1">Student</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <main class="main-content mt-1 border-radius-lg">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
      navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <!-- Left Navbar -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Group-list</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Groups</h6>
        </nav>
        <!-- End Left Navbar -->
        <!-- Right Navbar -->
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
          <!-- list of elements -->
          <ul class="navbar-nav  justify-content-end">
            <!-- Profile -->
            <li class="nav-item d-flex align-items-center">
              <a href="/teacher_profile" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                {{#each Data}}
                <span class="d-sm-inline d-none">{{this.username}}</span>
                {{/each}}
              </a>
            </li>
            <!-- End Profile -->
            <!-- Responsive hamburger lines -->
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <!-- End Responsive hamburger lines -->
            <li class="nav-item px-3 d-flex align-items-center">
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="/" class="nav-link text-body p-0" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Log out">
                <i class="fa fa-sign-out cursor-pointer"></i>
              </a>
            </li>
          </ul>
          <!-- End list of elements -->
        </div>
        <!-- End Right Navbar -->
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row" id="contentPanel">
        {{#each Group}}
        <div class="col-md-4">
          <div class="card card-background move-on-hover">
            <div class="full-background"
              style="background-image: url('https://images.pexels.com/photos/2675061/pexels-photo-2675061.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
            </div>
            <div class="card-body pt-12">
              <h4 class="text-white">{{this.group_name}}</h4>
              <p>{{this.owner_name}} - {{this.course_code}}</p>
              <form action="/auth/teacher_group_id" method="POST">
                <div class="form-group">
                  <input type="hidden" class="form-control" name="g_id" id="g_id" value="{{this.group_id}}">
                </div>
                <button class="btn btn-outline-default" type="submit" style="color: #fff;">Read More</button>
                <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
              </form>
            </div>
          </div>
        </div>
        {{/each}}
        <div class="col-md-4 mt-4">
          <div class="card h-100 card-plain border">
            <div class="card-body d-flex flex-column justify-content-center ">
              <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalMessage"
                style="color: rgb(143 151 183);"><i class="fa fa-plus text-secondary mb-3"></i>
                <h5 class=" text-secondary"> New group </h5>
              </button>
              <!-- Modal -->
              <div class="modal fade" id="exampleModalMessage" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalMessageTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="exampleModalLabel"
                        style="text-align: center; text-transform: uppercase;">Create a new group</h4>
                    </div>
                    <div class="modal-body">
                      {{#if message}}
                      <div class="alert {{messageClass}}" role="alert">
                        {{message}}
                      </div>
                      {{/if}}
                      <form action="/auth/teacher_groups" method="POST">
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Group Name</label>
                          <input type="text" class="form-control" placeholder="Group name" name="group_name"
                            id="group_name" required>
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Owner Name</label>
                          <input type="text" class="form-control" placeholder="Owner name" name="owner_name"
                            id="owner_name" required>
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Course code</label>
                          <input type="text" class="form-control" placeholder="Course code" name="course_code"
                            id="course_code" required>
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Course name</label>
                          <input type="text" class="form-control" placeholder="Course name" name="course_name"
                            id="course_name" required>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn bg-gradient-primary" id="btnGen">Create
                            group</button>
                          <button type="button" class="btn bg-gradient-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../public/js/popper.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/smooth-scrollbar.min.js"></script>
    <script src="../public/js/soft-ui-dashboard.min.js?v=1.0.1"></script>
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
    </script>
</body>

</html>