<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../public/images/apple-icon.png">
  <link rel="icon" type="image/png" href="../public/images/favicon.png">
  <title>
    scholarSPACE
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../public/css/soft-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>

  <style>
    .announcement-navbar {
      overflow-y: scroll;
    }
  </style>
</head>

<body class="g-sidenav-show  bg-gray-100">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-left ms-3"
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute right-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="/teacher_home">
        <img src="../public/images/graduation-cap.png" class="navbar-brand-img h-100 w-15" alt="...">
        <span class="ms-1 font-weight-bold">scholarSPACE</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="/teacher_home">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/home-black.png">
            </div>
            <span class="nav-link-text ms-1">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/teacher_calendar">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/calendar-black.png">
            </div>
            <span class="nav-link-text ms-1">Event Calendar</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/teacher_announcement">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/announcement-black.png">
            </div>
            <span class="nav-link-text ms-1">Announcement</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/teacher_events">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/events-black.png">
            </div>
            <span class="nav-link-text ms-1">Events</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link   active" href="/teacher_groups">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/groups-white.png">
            </div>
            <span class="nav-link-text ms-1">Groups</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/teacher_student">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/student-black.png">
            </div>
            <span class="nav-link-text ms-1">Student</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <main class="main-content mt-1 border-radius-lg">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
      navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <!-- Left Navbar -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page"><a
                href="/teacher_groups">Group-list</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page"><a
                href="/teacher_project_list">Project-list</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Project-Name</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Groups</h6>
        </nav>
        <!-- End Left Navbar -->
        <!-- Right Navbar -->
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
          <!-- list of elements -->
          <ul class="navbar-nav  justify-content-end">
            <!-- Profile -->
            <li class="nav-item d-flex align-items-center">
              <a href="/teacher_profile" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                {{#each Data}}
                <span class="d-sm-inline d-none">{{this.username}}</span>
                {{/each}}
              </a>
            </li>
            <!-- End Profile -->
            <!-- Responsive hamburger lines -->
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <!-- End Responsive hamburger lines -->
            <li class="nav-item px-3 d-flex align-items-center">
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="/" class="nav-link text-body p-0" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Log out">
                <i class="fa fa-sign-out cursor-pointer"></i>
              </a>
            </li>
          </ul>
          <!-- End list of elements -->
        </div>
        <!-- End Right Navbar -->
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="page-header min-height-300 border-radius-xl mt-1"
        style="background-image: url('../public/images/curved-images/curved0.jpg'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body blur shadow-blur mx-4 mt-n6">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              {{#each p_name}}
              <h5 class="mb-1">
                {{this.project_name}}
              </h5>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header pb-0">
          <div class="col-lg-6 col-7">
            <h6>Submitted Projects</h6>
          </div>
          <div class="input-group mt-4">
            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Type here project name..." onkeyup="myFunction1()"
              id="myInput1">
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive">
            <table class="table align-items-center mb-0" id="myTable1">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    style="padding-left: 65px; width: 34%">Student Name</th>
                  <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    style="width:22%">Roll No</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    style="width:37%">Submission
                    Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each Project}}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-user"></i>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-3 text-sm" style="padding-left: 24px">{{this.name}}</h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="text-xs font-weight-bold">{{this.enrollment_no}}</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="text-xs font-weight-bold">{{this.submission_date}}</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success" data-toggle="modal"
                      data-target="#exampleModalMessage">Grade</span>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalMessage" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalMessageTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel"
                              style="text-align: center; text-transform: uppercase;">Grade project</h4>
                          </div>
                          <div class="modal-body">
                            <form action="/auth/teacher_project_grade" method="POST">
                              <div class="form-group">
                                <label for="message-text" class="col-form-label">Student name</label>
                                <input type="text" class="form-control" value="{{this.name}}" name="name" id="name">
                              </div>
                              <div class="form-group">
                                <input type="hidden" class="form-control" value="{{this.project_id}}" name="proj_id"
                                  id="proj_id">
                              </div>
                              <div class="form-group">
                                <label for="message-text" class="col-form-label">Roll no</label>
                                <input type="text" class="form-control" value="{{this.enrollment_no}}" name="roll_no"
                                  id="roll_no">
                              </div>
                              <div class="form-group">
                                <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-1">
                                  <i class="fas fa-paperclip text-lg me-1"></i><a href="/uploads/{{this.file}}"
                                    download> Assessment File </a></button>
                              </div>
                              <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Marks</label>
                                <input type="number" class="form-control" placeholder="100" name="marks" id="marks"
                                  required>
                              </div>
                              <div class="form-group">
                                <label for="message-text" class="col-form-label">Feedback</label>
                                <textarea class="form-control" placeholder="Type here .." name="feedback"
                                  id="feedback"></textarea>
                              </div>
                              <div class="modal-footer">
                                <button type="submit" class="btn bg-gradient-primary" onclick="newProject()"
                                  class="addBtn-newproject" data-bs-target="#project-new-card">Submit</button>
                                <button type="button" class="btn bg-gradient-secondary"
                                  data-dismiss="modal">Close</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header pb-0">
          <div class="col-lg-6 col-7">
            <h6>Evaluated Projects</h6>
          </div>
          <div class="input-group mt-4">
            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Type here project name..." onkeyup="myFunction2()"
              id="myInput2">
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive">
            <table class="table align-items-center mb-0" id="myTable2">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    style="padding-left:65px; width: 16%">Student name</th>
                  <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    style="width:12%">Roll no</th>
                  <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    style="width:2%">Submission Date</th>
                  <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    style="width:6%">Marks</th>
                  <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    style="width:18%">Feedback</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    style="width:8%">
                    Project</th>
                </tr>
              </thead>
              <tbody>
                {{#each Evaluated}}
                <tr>
                  <td>
                    <div class="d-flex px-2">
                      <div>
                        <i class="fas fa-user"></i>
                      </div>
                      <div class="my-auto">
                        <h6 class="mb-3 text-sm" style="padding-left: 24px">{{this.name}}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs text-center font-weight-bold mb-0">{{this.enrollment_no}}</p>
                  </td>
                  <td>
                    <p class="text-xs text-center font-weight-bold mb-0">{{this.submission_date}}</p>
                  </td>
                  <td>
                    <p class="text-xs text-center font-weight-bold mb-0">{{this.marks}}</p>
                  </td>
                  <td>
                    <p class="text-xs text-center font-weight-bold mb-0">{{this.feedback}}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-1"><i
                        class="fas fa-paperclip text-lg me-1"></i><a href="/uploads/{{this.file}}" download>
                        View</a></button>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../public/js/popper.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/smooth-scrollbar.min.js"></script>
    <script src="../public/js/soft-ui-dashboard.min.js?v=1.0.1"></script>
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
    </script>
    <script>
      function myFunction1() {
        var input, filter, table, tr, td, i, txtValue, search;
        search = document.getElementById('search-filter');
        input = document.getElementById("myInput1");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable1");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

      function myFunction2() {
        var input, filter, table, tr, td, i, txtValue, search;
        search = document.getElementById('search-filter');
        input = document.getElementById("myInput2");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable2");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    </script>
</body>

</html>