<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../public/images/apple-icon.png">
  <link rel="icon" type="image/png" href="../public/images/favicon.png">
  <title>
    scholarSPACE
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../public/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../public/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../public/css/soft-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .announcement-navbar {
      overflow-y: scroll;
    }
  </style>
</head>

<body class="g-sidenav-show  bg-gray-100">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-left ms-3"
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute right-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="/teacher_home">
        <img src="../public/images/graduation-cap.png" class="navbar-brand-img h-100 w-15" alt="...">
        <span class="ms-1 font-weight-bold">scholarSPACE</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="/teacher_home">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/home-black.png">
            </div>
            <span class="nav-link-text ms-1">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/teacher_calendar">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/calendar-black.png">
            </div>
            <span class="nav-link-text ms-1">Event Calendar</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/teacher_announcement">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/announcement-black.png">
            </div>
            <span class="nav-link-text ms-1">Announcement</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active " href="/teacher_events">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/events-white.png">
            </div>
            <span class="nav-link-text ms-1">Events</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/teacher_groups">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/groups-black.png">
            </div>
            <span class="nav-link-text ms-1">Groups</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/teacher_student">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <img src="../public/images/student-black.png">
            </div>
            <span class="nav-link-text ms-1">Student</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <main class="main-content mt-1 border-radius-lg">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
      navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <!-- Left Navbar -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page"><a
                href="/teacher_events">Event-List</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page"><a href="/teacher_event">Event</a>
            </li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Registered students</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Events</h6>
        </nav>
        <!-- End Left Navbar -->
        <!-- Right Navbar -->
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
          <!-- list of elements -->
          <ul class="navbar-nav  justify-content-end">
            <!-- Profile -->
            <li class="nav-item d-flex align-items-center">
              <a href="/teacher_profile" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                {{#each Data}}
                <span class="d-sm-inline d-none">{{this.username}}</span>
                {{/each}}
              </a>
            </li>
            <!-- End Profile -->
            <!-- Responsive hamburger lines -->
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <!-- End Responsive hamburger lines -->
            <li class="nav-item px-3 d-flex align-items-center">
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="/" class="nav-link text-body p-0" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Log out">
                <i class="fa fa-sign-out cursor-pointer"></i>
              </a>
            </li>
          </ul>
          <!-- End list of elements -->
        </div>
        <!-- End Right Navbar -->
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="page-header min-height-300 border-radius-xl mt-1"
        style="background-image: url('../public/images/curved-images/curved0.jpg'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body blur shadow-blur mx-4 mt-n6">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              {{#each events}}
              <h5 class="mb-1">
                {{this.event_name}}
              </h5>
              <p class="mb-0 font-weight-bold text-sm">
                {{this.committee}}
              </p>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Search" onkeyup="myFunction()" id="myInput">
        <div class="row">
          <div class="col-md-12" style="margin:0px; padding:0px;">
            <select class="form-control btn btn-outline-primary mb-0 " name="search-filter" id="search-filter"
              placeholder="Departure">
              <option selected="">Search By</option>
              <option>Student name</option>
              <option>Degree</option>
              <option>Branch</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="table-responsive">
          <table class="table align-items-center mb-0" id="myTable">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Registered Students</h6>
                </div>
              </div>
            </div>
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  style="padding-left:60px; width:10%">Student Name</th>
                <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  style="width:10%">Roll No.</th>
                <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  style="width:10%">Email</th>
                <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  style="width:10%">Degree</th>
                <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  style="width:10%">Branch</th>
              </tr>
            </thead>
            <tbody>
              {{#each registered}}
              <tr>
                <td>
                  <div class="d-flex px-2">
                    <div>
                      <i class="fas fa-user"></i>
                    </div>
                    <div class="my-auto">
                      <h6 class="mb-3 text-sm" style="padding-left: 24px">{{this.fname}} {{this.lname}}</h6>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">{{this.enrollment_no}}</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">{{this.email}}</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">{{this.degree}}</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">{{this.branch}}</p>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../public/js/popper.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/smooth-scrollbar.min.js"></script>
    <script src="../public/js/soft-ui-dashboard.min.js?v=1.0.1"></script>
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
    </script>
    <script>
      function myFunction() {
        var input, filter, table, tr, td, i, txtValue, search;
        search = document.getElementById('search-filter');
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          if (search.value == "Name") {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          } else if (search.value == "Degree") {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          } else if (search.value == "Branch") {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          } else {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
      }
    </script>
</body>

</html>